<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{userdata.url}}">
  <div class="card-body">
    <h5 class="card-title">User Details</h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name: {{userdata.name}}</li>
    <li class="list-group-item">Phone Number: {{userdata.number}}</li>
    <li class="list-group-item">E-Mail Address: {{userdata.mail}}</li>
    <li class="list-group-item">Gender: {{userdata.gender}}</li>
    <li class="list-group-item">Category: {{userdata.category}}</li>
  </ul>
</div>